<h1 class="title">All Contacts</h1>
<ul>
 <% @contacts.each do |contact| %>
  <li><a href="/contacts/<%= contact.id %>"><%= contact.first_name %><%= contact.last_name %></a></li>
    <a href="/contacts/<%= contact.id %>/edit">Edit here!</a>
<% end %>
</ul>



