<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>
<body>
  <h1 style="color: red;">Welcome to <%= @crm_app_name %></h1>
  <p style="color: red;">Main Menu</p>
<ul>
  <li><a href="/contacts">
  View all contacts</a>
  </li>
</ul>
</body>
</html>

<!--allalalala-->