<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="UTF-8">
    <title> Crazy Craig's Mad CRM! </title>
    <meta name="og:title" content="Craig's CRM">
     <link rel="stylesheet" type="text/css" href="/styles.css">
     <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contacts">Contacts</li>
          <li><a href="contacts/new">New Contact</a></li>
        </ul>
      </nav>
      <h1>Ye Olde CRM</h1>
        <p>
          Welcome paranoid android.<br>
          To Craig's CRM.
        </p>
      <h2>Further Down the Rabbit Hole...</h2>
        <p>
        Drowning in pastels of cyan and wine.
        </p>
      <header>
      <%= yield %>
    <footer>8-Bit Einstein Production &copy;</footer>
  </body>
</html>


