<!DOCTYPE html>
<html> 
  <head>
      <style type="text/css">
      <!--
      body { 
      background-image: url(http://defwalls.com/wallpapers-n/outer-space-futuristic-retro-astronauts-_136335-50.jpg); 
      background-repeat: no-repeat; 
      }
      -->
      </style>
    <meta charset="UTF-8">
    <title style="color: red;"> Crazy Craig's Mad CRM! </title>
    <meta name="og:title" content="Craig's CRM">
  </head>
  <body>
    <nav>
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
    <%= yield %>
    <article> 
      <h1 style="color: red;">Ye Olde CRM</h1>
        <p style="color: red;">
          Welcome paranoid android.
          To Craig's CRM.
        </p>
      <h2 style="color: red;">Further Down the Rabbit Hole...</h2>
        <p style="color: red">
        Contents evaporating before your eyes.
        </p>
    </article>
    <footer style="color: red;">8-Bit Einstein Production &copy;</footer>
  </body>
</html>


