<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Craig's CRM</title>
     <link rel="stylesheet" type="text/css" href="/styles.css">
     <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/contacts">Contacts</a></li>
          <li><a href="/contacts/new">New Contact</a></li>
          <li><a href="/contacts/id/edit">Edit Contact</a></li>
        </ul>
      </nav>
      <h1>Tumble Further Down the Rabbit Hole...</h1>
      <header>
      <%= yield %>
    <footer>8-Bit Einstein Production &copy;</footer>
  </body>
</html>


